body {
  margin: 0;
  font-family: Poppins;
  background-color: #FCFCFC;
}

.chartjs-tooltip {
  display: none;
}

.shape::after {
  position: absolute;
  content: "over";
  background-color: red;
}

.fc-header-toolbar > div:first-child .fc-button-group button {
  padding: 4px !important;
  background-color: #5256B8 !important;
}

.fc-header-toolbar > div:first-child button {
  padding: 4px !important;
  background-color: #A8AAD6 !important;
  font-size: 0.8rem !important;
  text-transform: capitalize;
}

.fc-header-toolbar > div:last-child .fc-button-group button {
  background-color: #5256B8 !important;
  font-size: 0.8rem !important;
  padding: 4px !important;
  text-transform: capitalize;
}

.fc-header-toolbar .fc-toolbar-title {
  font-size: 1.2rem !important;
  text-transform: uppercase;
}
